@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);






#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-3 .mbr-navbar__items a {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
}
#header4-5 P {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
}
#header4-5 H1 {
  font-size: 48px;
}
#content1-5 P {
  text-align: center;
  font-size: 25px;
}
#content1-6 DIV {
  font-family: 'Roboto Slab', serif;
}
#buttons1-40 .btn {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}
#contacts3-7 P {
  font-family: 'Roboto Slab', serif;
}
#footer1-2 P {
  font-family: 'Roboto Slab', serif;
}







#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-6 .mbr-navbar__items a {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
}
#header4-7 P {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
}
#header4-7 H1 {
  font-size: 48px;
  color: #000000;
  font-family: 'Roboto Slab', serif;
}
#image2-12 SMALL {
  font-family: 'Roboto Slab', serif;
}
#image2-13 SMALL {
  font-family: 'Roboto Slab', serif;
}
#image2-14 SMALL {
  font-family: 'Roboto Slab', serif;
}
#footer1-11 P {
  font-family: 'Roboto Slab', serif;
}







#ext_menu-15 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-15.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-15 .mbr-navbar__items a {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
}
#header4-16 P {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
}
#header4-16 H1 {
  font-size: 48px;
  color: #000000;
  font-family: 'Roboto Slab', serif;
}
#image2-17 SMALL {
  font-family: 'Roboto Slab', serif;
}
#image2-18 SMALL {
  font-family: 'Roboto Slab', serif;
}
#image2-19 SMALL {
  font-family: 'Roboto Slab', serif;
}
#footer1-20 P {
  font-family: 'Roboto Slab', serif;
}
















#ext_menu-22 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-22.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-22 .mbr-navbar__items a {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
}
#msg-box4-35 .mbr-header__text {
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
}
#msg-box4-35 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-35 .mbr-article {
  color: #ffffff;
}
#msg-box4-35 .btn {
  font-size: 20px;
}
#msg-box4-36 .mbr-header__text {
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
}
#msg-box4-36 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-36 .mbr-article {
  color: #ffffff;
}
#msg-box4-36 .btn {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}
#msg-box4-37 .mbr-header__text {
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
}
#msg-box4-37 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-37 .mbr-article {
  color: #ffffff;
}
#msg-box4-37 .btn {
  font-size: 20px;
}
#msg-box4-38 .mbr-header__text {
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
}
#msg-box4-38 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-38 .mbr-article {
  color: #ffffff;
}
#msg-box4-38 .btn {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}
#footer1-28 P {
  font-family: 'Roboto Slab', serif;
}
#msg-box4-30 .mbr-header__text {
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
}
#msg-box4-30 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-30 .mbr-article {
  color: #ffffff;
}
#msg-box4-30 .btn {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}
#msg-box4-32 .mbr-header__text {
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
}
#msg-box4-32 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-32 .mbr-article {
  color: #ffffff;
}
#msg-box4-32 .btn {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}
#msg-box4-33 .mbr-header__text {
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
}
#msg-box4-33 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-33 .mbr-article {
  color: #ffffff;
}
#msg-box4-33 .btn {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}
#msg-box4-34 .mbr-header__text {
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
}
#msg-box4-34 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-34 .mbr-article {
  color: #ffffff;
}
#msg-box4-34 .btn {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}
